<h1>New Division</h1>

<% if @division.errors.any? %>
  <h3>Oops, there were some errors. Please try again.</h3>
  <ul>
    <% @division.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @division do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :classifications %>
  <%= f.text_field :classifications %>
  <%= f.submit %>
<% end %>
